//$dark: rgb(41, 64, 82);
//$dark: rgb(2, 253, 15);
$primary: rgb(41, 64, 82);
//$secondary: rgb(254, 194, 54);
$secondary: #FEC236;
//$danger: red;
$input-disabled-bg: rgb(254, 194, 54);


@import "../node_modules/bootstrap/scss/bootstrap";