.contImgCarousel{
    overflow: hidden;
    
    position: relative;
}

.contImgCarousel > .imgCarousel {
    position:absolute;
    left: -100%;
    right: -100%;
    top: -200%;
    bottom: -100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}

.divCategoria{
    height: 100px;
}

.categoriasIndex{
    height: 200px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5)
}